.position {
  background-color: white;
}
.logo {
  color: var(--color-accent, #2a90d9);
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.mobile {
  flex-direction: column;
  display: none;
}
